//引入清除默认样式
@import './reset.scss';

//滚动条样式
::-webkit-scrollbar {
    // width: 10px;
    display: none;
}
::-webkit-scrollbar-track {
    // background: #ccc;
    display: none;

}
::-webkit-scrollbar-thumb {
    // width: 10px;
    // background: yellowgreen;
    // border-radius: 10px;
    display: none;
}